<div *ngIf="ok">

    <select name="" id="" [(ngModel)]="vNome" style="margin-bottom: 20px;">
        <option *ngFor="let elemento of vettDati3;">{{elemento.id}})
            {{elemento.cognomenome}}</option>
    </select><br>
    <!--<app-pag-iniziale [mostra]="false"></app-pag-iniziale>-->
    <select name="" id="" [(ngModel)]="questionarioScelto">
        <option *ngFor="let elemento of vettDati;">{{elemento.id}})
            {{elemento.titolo}}</option>
    </select>
    <br>

    <!--<button (click)="cerca()" class="btnInvia">Cerca</button>-->
    <button type="button" class="btn-lg btn sfondoRosso bordoPiccolo" id="btnInvia"
        (click)="cerca()"><b>Cerca</b></button>

    <table *ngIf="ok2" class="table bordo carta">
        <tbody>
            <tr *ngFor="let elemento of vettDati2.dipendenti; let ind = index">
                <td>
                    <div *ngIf="mostraBtn[ind]; else x">&#9989;</div>
                    <ng-template #x>&#10060;</ng-template>
                </td>
                <td>{{elemento.cognomenome}}</td>
                <td><button *ngIf="mostraBtn[ind]; else no" disabled>Compila</button>
                    <ng-template #no><button
                            (click)="valuta(this.ritornaId(this.vNome),elemento.id,this.ritornaId(questionarioScelto),elemento.cognomenome)">Compila</button>
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<!--<ng-template #spalmerino><p>ciao</p></ng-template>-->