<div class="container text-center" *ngIf="!getFinito(); else finito">
    <div class="row b" style="margin-bottom: 40px;">
        <div class="col order-last">
            <table class="table">
                <tbody style="float: right;" *ngIf="ok">
                    <tr>
                        <th style="border-bottom: 0px; float: right;">
                            <p class="scritteRosse">VALUTATO</p>
                        </th>
                        <th style="border-bottom: 0px;">
                            <!--<input type="text" [(ngModel)]="nomeValutato">-->
                            <select name="" id="" [(ngModel)]="this.nome" *ngIf="ok">
                                <option *ngFor="let elemento of vettDati.dipendenti;">{{elemento.id}})
                                    {{elemento.cognomenome}}</option>
                            </select>
                        </th>
                    </tr>
                    <tr *ngIf="vettDati.valutatore">
                        <th style="border-bottom: 0px; float: right;">
                            <p class="scritteRosse">VALUTATORE</p>
                        </th>
                        <th style="border-bottom: 0px;">
                            <!--<input type="text" [(ngModel)]="nomeValutatore">-->
                            <select name="" id="" [(ngModel)]="this.vettoreV1!.valutatore" *ngIf="ok">
                                <option *ngFor="let elemento of vettDati.responsabile">{{elemento}}</option>
                            </select>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col order-first ">
            <table class="table bordo carta">
                <thead>
                    <tr>
                        <th scope="col" colspan="2" class="scritteRosse">SCALA DI VALUTAZIONE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col" class="bordoPiccolo">Giudizio</th>
                        <th scope="col" class="bordoPiccolo">Punteggio</th>
                    </tr>
                    <tr>
                        <td class="bordoPiccolo">Non adeguato al ruolo</td>
                        <td class="bordoPiccolo">1</td>
                    </tr>
                    <tr>
                        <td class="bordoPiccolo">Non completamente adeguato al ruolo</td>
                        <td class="bordoPiccolo">2</td>
                    </tr>
                    <tr>
                        <td class="bordoPiccolo">Adeguato</td>
                        <td class="bordoPiccolo">3</td>
                    </tr>
                    <tr>
                        <td class="bordoPiccolo">Più che adeguato al ruolo</td>
                        <td class="bordoPiccolo">4</td>
                    </tr>
                    <tr>
                        <td class="bordoPiccolo">Eccellente: supera le aspettative del ruolo</td>
                        <td class="bordoPiccolo">5</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--<div class="container text-center">-->

    <table class="table carta" style=" margin-bottom: 60px;">
        <thead>
            <tr>
                <th scope="col" class="noBordo"></th>
                <th scope="col" class="noBordo"></th>
                <th scope="col" class="bordo scritteRosse">Data</th>
                <th scope="col" class="bordo scritteRosse">Valutato</th>
                <!--<th scope="col" *ngIf="valutatore" class="bordo scritteRosse">Data</th>
                <th scope="col" *ngIf="valutatore" class="bordo scritteRosse">Valutatore</th>-->
            </tr>
            <tr>
                <th scope="col" class="noBordo"></th>
                <th scope="col" class="noBordo"></th>
                <th scope="col" class="bordo sfondoRosso"><input type="date" [(ngModel)]="vettoreV1!.data"
                        style="width:1.5em; font-size: 1em"></th>
                <th scope="col" class="bordo sfondoRosso">
                    <!--<input type="text" [(ngModel)]="nomeValutato" />-->
                    <select name="" id="" [(ngModel)]="this.nome" *ngIf="ok">
                        <option *ngFor="let elemento of vettDati.dipendenti; let ind = index">
                            {{elemento.id}}) {{elemento.cognomenome}}</option>
                    </select>
                </th>
                <!--<th scope="col" *ngIf="valutatore" class="bordo sfondoRosso"><input type="date"></th>
                <th scope="col" *ngIf="valutatore" class="bordo sfondoRosso"><input type="text"
                        [(ngModel)]="nomeValutatore" /></th>-->
            </tr>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col" class="bordo">Punteggio</th>
                <th scope="col" class="bordo">Commenti</th>
                <!--<th scope="col" *ngIf="valutatore" class="bordo">Punteggio</th>
                <th scope="col" *ngIf="valutatore" class="bordo">Commenti</th>-->
            </tr>
        </thead>
        <tbody *ngIf="ok">
            <!--Per ogni domanda crea una riga-->
            <tr *ngFor="let elemento of vDom1; let ind = index">
                <th scope="row" class="bordo" style="width: 2%;">{{elemento.ordinamento}}</th>
                <td class="bordo" style="width: 43%;">
                    <p class="scritteRosse">
                        {{elemento.titolodomanda}}</p>
                    <p style="white-space:normal; word-break: break-all;">
                        {{elemento.descrizione}}</p>
                </td>
                <td class="bordo sfondoRosso" style="width: 2%;">
                    <select name="" id="" [(ngModel)]="vettoreV1!.risposteDomande[ind].punteggio">
                        <option *ngFor="let num of punti">{{num}}</option>
                    </select>
                </td>
                <td class="bordo" style="width: 43%;">
                    <textarea name="comments" style="resize: none; height:100%; " class="container "
                        placeholder="Scrivi qui" [(ngModel)]="vettoreV1!.risposteDomande[ind].nota">
                    </textarea>
                </td>
                <!--<td *ngIf="valutatore" class="bordo sfondoRosso"><select name="" id=""
                        [(ngModel)]="vettoreV2[ind].punteggio">
                        <option *ngFor="let num of punti">{{num}}</option>
                    </select></td>
                <td *ngIf="valutatore" class="bordo"><textarea name="comments" style="resize: none;" class="container"
                        placeholder="Scrivi qui" [(ngModel)]="vettoreV2[ind].Commento"></textarea>
                </td-->
            </tr>
            <!--<tr>
                <th scope="col" class="noBordo"></th>
                <th scope="col" class="noBordo"></th>
                <th scope="col" class="noBordo">
                    <p class="bordo">0</p>
                </th>
                <th scope="col" class="noBordo"></th>
                <th scope="col" class="noBordo" *ngIf="valutatore">
                    <p class="bordo">0</p>
                </th>
                <th scope="col" *ngIf="valutatore" class="noBordo"></th>
            </tr>-->
        </tbody>
    </table>
    <table *ngIf="ok"  class="carta">
        <tbody>
            <!--Per ogni domanda crea una riga-->
            <tr *ngFor="let elemento of vDom2; let ind = index">
                <th scope="col-3" class="bordo">{{elemento.titolodomanda}}</th>
                <th scope="col-9" class="sfondoRosso bordoPiccolo container">
                    <textarea name="comments" style="resize: none;" class="container" placeholder="Scrivi qui"
                        [(ngModel)]="vettoreV1!.domFinali[ind].nota"></textarea>
                </th>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn sfondoRosso bordoPiccolo" id="btnInvia" (click)="invia()" style="box-shadow: 6px 6px 3px #888888;"><b>Invia</b></button>
    <!--<button (click)="invia()">Invia</button>-->
</div>

<ng-template #finito>
    <app-finito></app-finito>
</ng-template>