#titolo {
    color: black;
    margin-bottom: 60px;
    margin-top: 35px;


    background-image: linear-gradient(to right,
            crimson,
            crimson 50%,
            #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    /*display: inline-block;*/
    /*padding: 5px 0;*/
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    /*padding-top: 40px;*/
}

#titolo:before {
    content: '';
    background: crimson;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

#titolo:hover {
    background-position: 0;
}

#titolo:hover::before {
    width: 100%;
}