<p>admin works!</p>
<div *ngIf="ok">
    <!--<app-pag-iniziale [mostra]="false"></app-pag-iniziale>-->
    <select name="" id="" [(ngModel)]="questionarioScelto" *ngIf="ok">
        <option *ngFor="let elemento of vettDati;">{{elemento.id}})
            {{elemento.titolo}}</option>
    </select>
    <br>

    <!--<button (click)="cerca()" class="btnInvia">Cerca</button>-->
    <button type="button" class="btn-lg btn sfondoRosso bordoPiccolo" id="btnInvia"
        style="margin-top: 30px; margin-bottom: 30px;" (click)="cerca()"><b>Cerca</b></button>

    <table *ngIf="ok2" class="table bordo carta">
        <tbody>
            <tr *ngFor="let elemento of vettDati2.dipendenti; let ind = index">
                <td>
                    <div *ngIf="mostraBtn[ind]; else x">&#9989;</div>
                    <ng-template #x>&#10060;</ng-template>
                </td>
                <td>{{elemento.cognomenome}}</td>
                <td>
                    <div *ngIf="mostraBtn[ind]; else no"><button type="button"
                            class="btn sfondoRosso bordoPiccolo btn-sm" disabled>Notifica</button><button
                            style="margin-left: 8px;" (click)="passaDipendente(elemento.id)" id="btnInvia"
                            class="btn sfondoRosso bordoPiccolo btn-sm" type="button">mostra</button></div>
                    <ng-template #no><button (click)="prova(elemento.cognomenome)" id="btnInvia"
                            class="btn sfondoRosso bordoPiccolo btn-sm" type="button">Notifica</button>
                        <button disabled style="margin-left: 8px;" id="btnInvia"
                            class="btn sfondoRosso bordoPiccolo btn-sm" type="button">mostra</button>
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="ok3">
        <select name="" id="" *ngIf="ok">
            <option *ngFor="let elemento of date;">
                {{elemento.nota}}</option>
        </select>
        <button type="button" class="btn-lg btn sfondoRosso bordoPiccolo" id="btnInvia"
            style="margin-top: 30px; margin-bottom: 30px;" (click)="cerca()"><b>Cerca</b></button>
        <div *ngIf="ok4">

        </div>
    </div>
</div>